[submodule "lib/magnum"]
	path = lib/magnum
	url = https://github.com/lectroMathew/magnum.git
[submodule "lib/corrade"]
	path = lib/corrade
	url = https://github.com/lectroMathew/corrade.git
[submodule "lib/SDL2-2.0.10"]
	path = lib/SDL2-2.0.10
	url = git@github.com:lectroMathew/SDL2-2.0.10.git
[submodule "lib/magnum-plugins"]
	path = lib/magnum-plugins
	url = https://github.com/lectroMathew/magnum-plugins.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/lectroMathew/assimp.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/lectroMathew/imgui
[submodule "lib/magnum-integration"]
	path = lib/magnum-integration
	url = https://github.com/lectroMathew/magnum-integration
